<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Globalticket website</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Our E-commerce Store</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="product-list">
        <article class="product">
            <img src="static/images/laptop-img.png" alt="Product 1">
            <h2>Product 1</h2>
            <p>HP envy 2022 edition</p>
            <p>Price: $10.00</p>
            <button>Add to Cart</button>
        </article>
        <article class="product">
            <img src="static/images/Macbook.jpg" alt="Product 2">
            <h2>Product 2</h2>
            <p>Macbook 2022</p>
            <p>Price: $399.00</p>
            <button>Add to Cart</button>
        </article>
        <!-- Add more product entries as needed -->
    </section>
    <footer>
        <p>&copy; 2023 Your E-commerce Store</p>
    </footer>
</body>
</html>